<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "xmlspec.dtd">  -->
<configuration>
    <!-- 标准输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 日志输出编码 -->
        <encoder>
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>  
        </encoder>
    </appender>
    
    <!-- 日志输出级别 -->
    <root>
        <level value="INFO" />
        <!-- <level value="DEBUG" /> -->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>