<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "xmlspec.dtd">  -->
<configuration>
    <!-- 标准日志设置 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>  
      </encoder>
    </appender>
    
    <!-- 文件日志设置 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>/alidata1/3080/datacenter/logs/datacenter.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>/alidata1/3080/datacenter/logs/datacenter-%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>30</maxHistory>
      </rollingPolicy>
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>%d [%thread] %-5level %40logger{40} - %msg%n</Pattern>
      </layout>
    </appender>
    
    <!-- 日志输出级别 -->
    <root level="INFO">
      <appender-ref ref="STDOUT" />
      <appender-ref ref="FILE" />
    </root>
</configuration>