<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- MyBatis学习  -->
<!-- http://limingnihao.iteye.com/blog/781671 -->
<configuration>
  <environments default="itest">
    <environment id="itest">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://rds6fbqrf6fbqrf.mysql.rds.aliyuncs.com:3306"/>
        <property name="username" value="readonly_tst"/>
        <property name="password" value="readonly_tst"/>
        <property name="poolMaximumActiveConnections" value="256"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="pers/wenzi/DataBank/mappers/PolicyMapper.xml" />
  </mappers>
</configuration>
