<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!-- Diamond 配置 -->
	<bean id="diamondConfig" class="com.zhongan.website.common.DiamondConfig">
		<property name="groupID" value="DEFAULT_GROUP" />
		<property name="dataID" value="wenzi.datacenter" />
	</bean>
</beans>