<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>保单校验</title>
  </head>
  <body>
    <form action="/checkdata/checkpolicy" method="post">
      <table border="0">
        <tr>
          <td>产品版型 ProductId:</td>
          <td><input type="text" name="productId" id="productId" /></td>
        </tr>
        <tr>
          <td>产品组合 PackageDefId:</td>
          <td><input type="text" name="packageDefId" id="packageDefId" /></td>
        </tr>
        <tr>
          <td>营销渠道 CampaignDefId:</td>
          <td><input type="text" name="campaignDefId" id="campaignDefId" /></td>
        </tr>
        <tr>
          <td>保单号 PolicyNo:</td>
          <td><input type="text" name="policyNo" id="policyNo" /></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="Check" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>