<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>保单数据校验</title>
    </head>
    <body>
        <span>保单号：</span>
        <span>$policyNo</span><br />
        <span>产品版型：</span>
        <span>$productId</span><br />
        <span>产品组合：</span>
        <span>$packageDefId</span><br />
        <span>营销渠道：</span>
        <span>$campaignDefId</span><br />
    </body>
</html>