<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>页面错误</title>
    </head>
    <body>
        #if($error)
        <span>$error</span>
        #end
    </body>
</html>