<html>
    <body>
        <span>投保人证件号码：</span>
        <span>$certi</span>
        #if($!kid == null)
        <span>被保人证件号码：</span>
        <span>$kid</span>
        #end
    </body>
</html>