<html>
    <head>
        <meta charset="UTF-8">
        <title>初始化参数</title>
    </head>
    <body>
        <!-- Velocity基本语法 http://pengenjing.iteye.com/blog/1829229 -->
        <span>投保人证件号码：</span>
        <span>$tbrCerti</span><br />
        <span>投保人手机号码：</span>
        <span>$tbrPhone</span><br />
        #if($tbrEmail)
        <span>投保人邮箱地址：</span>
        <span>$tbrEmail</span><br />
        #end
        <span>与投保人关系：</span>
        <span>$relation</span><br />
        #if($bbrCerti)
        <span>被保人证件号码：</span>
        <span>$bbrCerti</span><br />
        #end
        #if($bbrPhone)
        <span>被保人手机号码：</span>
        <span>$bbrPhone</span><br />
        #end
        #if($bbrEmail)
        <span>被保人邮箱地址：</span>
        <span>$bbrEmail</span><br />
        #end
        #if($url)
        <span>投保链接：</span>
        <span><a href="$url">点击投保</a></span>
        #end
    </body>
</html>