<html>
    <body>
        <!-- Velocity基本语法 http://pengenjing.iteye.com/blog/1829229 -->
        <span>投保人证件号码：</span>
        <span>$certi</span><br />
        #if($kid)
        <span>儿童证件号码：</span>
        <span>$kid</span><br />
        #end
    </body>
</html>