<html>
    <body>
        <!-- Velocity基本语法 http://pengenjing.iteye.com/blog/1829229 -->
        <span>与投保人关系：</span>
        <span>$relation</span><br />
        <span>投保人证件号码：</span>
        <span>$tbrCerti</span><br />
        #if($spouse)
        <span>配偶证件号码：</span>
        <span>$spouse</span><br />
        #end
        #if($parent)
        <span>父母证件号码：</span>
        <span>$parent</span><br />
        #end
        #if($kid)
        <span>子女证件号码：</span>
        <span>$kid</span><br />
        #end
        #if($other)
        <span>其他证件号码：</span>
        <span>$other</span><br />
        #end
    </body>
</html>