<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.wenzi.datacenter.dao.PolicyMapper">
    <resultMap type="PolicyEntity" id="PolicyResultMap">
        <id property="policyNo" column="policy_no" />
        <result property="policyId" column="id" />
        <result property="policyNo" column="policy_no" />
        <result property="productId" column="product_id" />
        <result property="packageDefId" column="package_def_id" />
        <result property="campaignDefId" column="campaign_def_id" />
    </resultMap>
    <!-- 根据保单号码查询保单信息 -->
    <select id="getPolicy" parameterType="String" resultType="PolicyEntity" resultMap="policyResultMap">
        <![CDATA[
            SELECT * FROM POLICY_00.POLICY_0000
                WHERE POLICY_NO = #{policyId}
        ]]>
    </select>
</mapper>
